.reveal table {
  font-size: 0.6em;
}

.reveal li {
  font-size: 0.6em;
}
.reveal h1 {
  font-size: 1.4em;
}
.reveal h2 {
  font-size: 1.2em;
}
.reveal h3 {
  font-size: 1em;
}
.reveal h4 {
  font-size: 0.8em;
}

.reveal code {
  font-size: 0.6em;
  max-height: 350px;
  background: #586e75;
  color: #fdf6e3;
  padding: 0px 5px 0px 5px;
  border-radius: 5px;
}

.reveal p {
  text-align: left;
  font-size: 0.6em;
}
.reveal ul {
  display: block;
}
.reveal li {
  font-size: 0.6em;
}
.reveal ol {
  display: block;
}

.reveal ol>li>p {
  font-size: 1em;
}

.reveal pre {
  width: 100%;
}

.reveal img {
  margin: auto;
  display: block;
}

::-moz-selection { /* Code for Firefox */
  color: black;
  background: grey;
}

::selection {
  color: black;
  background: grey;
}

::marker {
  font-size: 1em
}